@model IEnumerable<WebApplication3.Models.Sale>

@using System.Web.Optimization

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id='sales' style="padding-top: 50px"></div>

@section Scripts{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/react/dist/Sales.bundle.js"></script>
}